[submodule "VS_code"]
	path = VS_code
	url = https://github.com/SEOULTECH-AIS-gyounghun6612/AIS_lab_manual.git
	branch = VS_code
[submodule "git_with_github"]
	path = git_with_github
	url = https://github.com/SEOULTECH-AIS-gyounghun6612/AIS_lab_manual.git
	branch = git_with_github
[submodule "python"]
	path = python
	url = https://github.com/SEOULTECH-AIS-gyounghun6612/AIS_lab_manual.git
	branch = python
[submodule "ubuntu"]
	path = ubuntu
	url = https://github.com/SEOULTECH-AIS-gyounghun6612/AIS_lab_manual.git
	branch = ubuntu
[submodule "virtual_envirment"]
	path = virtual_envirment
	url = https://github.com/SEOULTECH-AIS-gyounghun6612/AIS_lab_manual.git
	branch = virtual_envirment
[submodule "paper_workflow"]
	path = paper_workflow
	url = https://github.com/SEOULTECH-AIS-gyounghun6612/Personal-CookBook.git
	branch = paper_workflow
